name: linting

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Run prek
        id: prek
        uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037
