name: linting

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run prek
        id: prek
        uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037
