name: Publish to PyPI

on:
  push:
    tags:
      - v*

jobs:
  pypi:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    # Environment and permissions trusted publishing.
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - run: uv publish --trusted-publishing always
